<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<!--
		    OFF   - Nothing gets captured.
		    FATAL - Only fatal exceptions will be captured.
		    ERROR - Error log messages and up will be captured..
		    WARN  - Warning and up log messages will be captured.
		    INFO  - Information and up log messages will be captured.
		    DEBUG - Debug and up log messages will be captured.
		    ALL   - All log messages will be captured.
		    -->
			<level value="ALL" />
			<appender-ref ref="MyConsoleAppender" />
			<appender-ref ref="MyRollingFileAppender" />
		</root>
		<appender name="MyConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="-------------------- Logging Started --------------------" />
				<param name="Footer" value="-------------------- Logging Ended --------------------" />
				<conversionPattern value="%newline%date %level %logger - %message" />
			</layout>
		</appender>
		<appender name="MyRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\STWBot-2.0_" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="date" />
			<datePattern value="''yyyy-MM-dd tt'.txt'" />
			<!--<lockingModel type="log4nbet.Appender.FileAppender+MinimalLock" />-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="-------------------- Logging Started --------------------" />
				<param name="Footer" value="-------------------- Logging Ended --------------------" />
				<conversionPattern value="%newline%date %level %logger - %message" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NetFrameWork,Version=v4.5" />
	</startup>
</configuration>
